
<div class="navbar-custom">
    <div class="container-fluid">
        <ul class="list-unstyled topnav-menu float-end mb-0">
            <li class="dropdown d-none d-lg-inline-block">
                <a class="nav-link dropdown-toggle arrow-none waves-effect waves-light" data-toggle="fullscreen" href="#">
                    <i class="fa fa-desktop"></i>
                </a>
            </li>

        </ul>

        <div class="logo-box">
            <a asp-controller="Home" asp-action="Index" class="logo logo-dark text-center">
                <span class="logo-sm">
                    <img src="~/Icon.png" alt="" height="22">
                </span>
                <span class="logo-lg">
                    @*<img src="~/logo-border.png" alt="" height="35" />*@
                    <span class="logo-lg-text-light">Recruitment</span>
                </span>
            </a>

            <a asp-controller="Home" asp-action="Index" class="logo logo-light text-center">
                <span class="logo-sm">
                    <img src="~/Icon.png" alt="" height="22">
                </span>
                <span class="logo-lg">
                    @*        <img src="~/logo-border.png" alt="" height="35">*@
                    <span class="logo-lg-text-light">  Recruitment </span>
                </span>
            </a>
        </div>

        <ul class="list-unstyled topnav-menu topnav-menu-left m-0">
            <li>
                <button class="button-menu-mobile waves-effect waves-light">
                    <i class="fa fa-bars"></i>
                </button>
            </li>

            <li>
                <!-- Mobile menu toggle (Horizontal Layout)-->
                <a class="navbar-toggle nav-link" data-bs-toggle="collapse" data-bs-target="#topnav-menu-content">
                    <div class="lines">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </a>
                <!-- End mobile menu toggle-->
            </li>


        </ul>
        <div class="clearfix"></div>
    </div>
</div>
<!-- end Topbar -->