<footer style="left:0 !important;" class="footer">

        <div class="row">
            <div class="col text-center">

                <p class="mb-0">
                    &copy; <script>document.write(new Date().getFullYear())</script> - Link Development - Recruitment
                </p>
            </div>
         
        </div>

</footer>
